body{
    all: unset;
}


main article#gameBoard{
    display: flex;
}

article#gameBoard .boardColumn{
    display: flex;
    flex-direction: column;
}

article#gameBoard .boardColumn .squareItem{
    width: 4vw;
    height: 5vh;
    background-color: #87CEEB;
}

article#gameBoard .boardColumn .squareItemType1{
    background-color: rgba(239, 234, 223, 0.732);
}
article#gameBoard .boardColumn .squareItemType2{
    background-color: rgba(151, 112, 27, 0.732);
}
article#gameBoard .boardColumn .squareItemType3{
    
}
article#gameBoard .boardColumn .squareItemType4{
    
}
article#gameBoard .boardColumn .squareItemType5{
    background-color: rgba(49, 187, 31, 0.732);
}
