
html{
    all:unset
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("/resources/menuIcons/entryScreenBackground.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
}

main{
    height: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 20px;
}

main form .dropDwonMenusSection{
    display: flex;
    justify-content: center;
}
main form .dropDwonMenusSection div{
    margin: 55px;
} 

main form .worldTemplatePicker{
    display: flex;


}

main form .worldTemplatePicker .worldTemlateitem{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(194, 200, 203,15%);
    border-radius: 35px;
    margin: 25px;
    max-width: 30vw;
    max-height: 30vh;
    display: flex;
    justify-content: center;
    
}

main form .worldTemplatePicker .worldTemlateitem img{
    padding: 5%;
    max-width: 90%;
    max-height: 90%;
}


button {
    margin: 45px;

    font-family: 'minecraft-bold', sans-serif;
    text-transform: uppercase;
    font-size: 1.75rem;
    text-shadow: hsla(0, 0%, 0%, 0.85) 0px 2px 0px;
    padding: 0.5rem 5rem;
    color: #fff;
    background-color: #008943;
    border: none;
    border-top: var(--effect-border-size) solid #28d040;
    border-inline: var(--effect-border-size) solid #0c6e3d;
    border-bottom: var(--effect-border-size) solid #064d2a;
    clip-path: var(--border-cutout-path);
  
    &:hover {
      background-color: #0a954e;
      span {
        display: inline-block;
        transform: scale(1.0357);
      }
    }
    &:active {
      background-color: #008a44;
      span {
        transform: scale(1);
      }
    }
    &:focus {
      outline: none;
    }
  }

  main form .worldTemplatePicker .worldTemlateitem.pickedItem{
    background-color: rgb(194, 200, 203,75%);
  }